<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <button id="<%- id %>" name="<%- id %>" class='btn <%- button1type %>'><%- button1label %></button>
    <button id="<%- id2 %>" name="<%- id2 %>" class='btn <%- button2type %>'><%- button2label %></button>
    <button id="<%- id3 %>" name="<%- id3 %>" class='btn <%- button2type %>'><%- button2label %></button>
    <input id="<%- id4 %>"
           name="<%- id4 %>"
           type="text"
    <% if(placeholder) { %> placeholder="<%- placeholder %>" <% } %>
    class="<%- inputsize %>"
    <% if(required) {%> required <% } %>
    />
    <% if (helptext.length > 0) { %><p class="help-block"><%- helptext %></p><% } %>
  </div>
</div>
